$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 'Microsoft JhengHei', "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";


$h1-cht: 'Yuanti TC';
$h1-eng: Silom;
$skill-tree: 'Noto Sans CJK TC';